.index_page {
    border: #0b2e13 1px solid;
    height: 10vh;
}

.tree ul{
    list-style-type: none;
    counter-reset: number;
}
.tree ul li{
    font-size: 18px;
}
.tree ul li:before {
    color: #fff;
    background: #62CB91;
    display: inline-block;
    text-align: center;
    margin: 3px 3px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    counter-increment: number;
    content:counter(number);
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 #ccc;
}
